absl-py==2.1.
aiofiles==24.1.
altair==5.4.
astunparse==1.6.
attrs==24.2.
beautifulsoup4==4.12.
blinker==1.8.
cachetools==5.5.
certifi==2024.8.3
charset-normalizer==3.3.
click==8.1.
colorama==0.4.
contourpy==1.3.
cycler==0.12.
et-xmlfile==1.1.
flask==3.0.
flask-cors==5.0.
flatbuffers==24.3.2
fonttools==4.54.
gast==0.6.
gitdb==4.0.1
gitpython==3.1.4
google-pasta==0.2.
grpcio==1.66.
h5py==3.12.
html5tagger==1.3.
httptools==0.6.
idna==3.1
itsdangerous==2.2.
jinja2==3.1.
joblib==1.4.
jsonschema==4.23.
jsonschema-specifications==2023.12.
keras==3.5.
kiwisolver==1.4.
libclang==18.1.
markdown==3.
markdown-it-py==3.0.
markupsafe==2.1.
matplotlib==3.9.
mdurl==0.1.
ml-dtypes==0.4.
multidict==6.1.
namex==0.0.
narwhals==1.8.
numpy==1.26.
openpyxl==3.1.
opt-einsum==3.4.
optree==0.12.
packaging==24.
pandas==2.2.
pillow==10.4.
protobuf==4.25.
pyarrow==17.0.
pydeck==0.9.
pygments==2.18.
pyparsing==3.1.
python-dateutil==2.9.0.post
pytz==2024.
referencing==0.35.
requests==2.32.
rich==13.8.
rpds-py==0.20.
sanic==24.6.
sanic-routing==23.12.
scikit-learn==1.5.
scipy==1.14.
seaborn==0.13.
setuptools==75.1.
six==1.16.
smmap==5.0.
soupsieve==2.
streamlit==1.38.
tenacity==8.5.
tensorboard==2.17.
tensorboard-data-server==0.7.
termcolor==2.4.
threadpoolctl==3.5.
toml==0.10.
tornado==6.4.
tracerite==1.1.
typing-extensions==4.12.
tzdata==2024.
ujson==5.10.
urllib3==2.2.
uvloop==0.20.
watchdog==4.0.
websockets==13.
werkzeug==3.0.
wheel==0.44.
wrapt==1.16.0
